version: '3'

services:
  app:
    container_name: 'ical-delta-app'
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    image: quay.io/andreaseckmayr/ical-delta/app:latest
    build:
      context: ./app
      dockerfile: ./Dockerfile
      tags:
        - "quay.io/andreaseckmayr/ical-delta/app:latest"
    volumes:
      - calendars:/calendars
      - ./config:/config
    restart: on-failure:5
    #healthcheck:
    #  test: ["CMD", "cat", "ical_delta.log", "|", "grep", "'sync completed'"]
    #  interval: 60s
    #  timeout: 15s
    #  retries: 3
    #  start_period: 10s
  web:
    container_name: 'ical-delta-web'
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    image: quay.io/andreaseckmayr/ical-delta/web:latest
    build:
      context: ./web
      dockerfile: ./Dockerfile
      tags:
        - "quay.io/andreaseckmayr/ical-delta/web:latest"
    restart: always
    volumes:
      - calendars:/app/static/downloads
    ports:
      - "8080:8080"
    depends_on:
      - app
    healthcheck:
      test: curl --fail http://localhost:8080 || exit 1
      interval: 60s
      timeout: 15s
      retries: 3
      start_period: 60s

volumes:
  calendars: