version: '3'

services:
  app:
    container_name: 'ical-delta-app'
    build: .
    volumes:
      - calendars:/calendars
  web:
    container_name: 'ical-delta-web'
    build:
      dockerfile: Dockerfile-web
    restart: always
    volumes:
      - calendars:/app/static
    ports:
      - "34116:8080"

volumes:
  calendars: