version: '3'

services:
  app:
    container_name: 'ical-delta-app'
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    image: andreaseckmayr/ical-delta-app:latest
    build:
      context: .
      tags:
        - "andreaseckmayr/ical-delta-app:latest"
    volumes:
      - calendars:/calendars
      - ./config:/config
  web:
    container_name: 'ical-delta-web'
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    image: andreaseckmayr/ical-delta-web:latest
    build:
      context: .
      dockerfile: Dockerfile-web
      tags:
        - "andreaseckmayr/ical-delta-web:latest"
    restart: always
    volumes:
      - calendars:/app/static/downloads
    ports:
      - "8080:8080"

volumes:
  calendars: